body {
  font-family: "Roboto Mono", sans-serif;
  width: 100%;
  font-weight: 300;
  font-size: 2rem;
  min-height: 100vh;
    max-height: 100vh;
  /*display: flex;*/
  align-items: center;
}

* {
  box-sizing: border-box;
}

strong {
  font-weight: 500;
}

  main {
      line-height: 0;
      position: relative; /* Adjusted positioning */
      max-width: 1440px;
      display: block; /* Changed from flex to block */
      padding: 0; /* Removed padding */
      margin: 0; /* Removed auto margin and transform */
  }

main img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top left;
  max-width: 1440px;
}
@media (min-width: 1100px) {
  main img {
    height: auto;
  }
}
.name,
.location {
  text-align: justify;
}
.coffee-card {
  flex: None;
  width: 1440px;
  height: 2048px;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: 1.2fr 1fr min-content;
  grid-template-rows: min-content min-content min-content min-content min-content 1fr min-content min-content;

  background: #ffffff;
  margin: 0.1rem;
  line-height: 1.5;
  position: relative;
  box-shadow: 0 0 0 0.1rem black;

}

.coffee-card > * {
  padding: 0rem;
}
.coffee-card h1.name {
    margin: 0rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center; /* 两端对齐 */
  hyphens: auto; /* 自动添加连字符 */
  word-break: break-word; /* 允许从单词中间换行 */
}

 .author {
  grid-row: 3;
  grid-column: 1/3;
  text-align: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.coffee-card h1 {

  line-height: 1;
  font-weight: 750;
}
.coffee-card .name {
  grid-column: 1/3;
  grid-row: 2;
  padding-bottom: 1.2rem;
}

.coffee-card .info,
.coffee-card .location,
.coffee-card .pattern {

  grid-column: 1/span 2;
}
.coffee-card .date,
.coffee-card .weight {
  /*transform: rotate(180deg);*/
  writing-mode: vertical-lr;
  padding: 0;
}
.coffee-card .date,
.coffee-card .footnote,
.coffee-card .site {
  font-size: 95%;
}
.coffee-card .date {
  grid-row: 4/span 8;
  grid-column: 3/4;
}
.coffee-card .footnote {
  grid-column: 1/3;
}

.coffee-card .arxiv,
.coffee-card .logo,
.coffee-card .author,
.coffee-card .info,
.coffee-card .footnote,
.coffee-card .date {
  font-family: 'Arial Bold', Arial, sans-serif;
  }
.solid-line {
    height: 2px; /* 线的厚度 */
    background-color: black; /* 线的颜色 */
    width: 90%; /* 线的宽度为容器的100% */
    grid-column: 1/3; /* 确保线横跨所有列 */
    grid-row: 6;

    position: relative; /* 添加定位上下文 */
    display: block; /* 确保块级显示，适用于网格内居中 */
    margin: 0px auto; /* 更新外边距以居中线条 */
}

.solid-line::before,
.solid-line::after {
    content: ''; /* 必须有这个属性才能显示 */
    position: absolute; /* 绝对定位 */
    top: 50%; /* 顶部50%的位置，与线对齐 */
    width: 10px; /* 圆点的宽度 */
    height: 10px; /* 圆点的高度 */
    background-color: black; /* 圆点的颜色 */
    border-radius: 50%; /* 圆形 */
}

.solid-line::before {
    left: -5px; /* 左侧位置调整，使其完全覆盖在线的起点 */
    transform: translateY(-50%); /* 垂直居中 */
}

.solid-line::after {
    right: -5px; /* 右侧位置调整，使其完全覆盖在线的终点 */
    transform: translateY(-50%); /* 垂直居中 */
}


.coffee-card .pattern {
  grid-row:6;
  min-height: 16.5rem;
  background-repeat: repeat;

  display: flex;  /* 设置为flex布局 */
  flex-direction: column;  /* 子元素垂直排列 */
  justify-content: center;  /* 在主轴上居中对齐，确保内容垂直居中 */
  align-items: center;  /* 在交叉轴上居中对齐，确保内容水平居中 */
  /*grid-row: 3/5;  !* 根据实际情况调整 *!*/
  height: 100%;  /* 撑满所在网格行 */

  border-bottom: 0.5px dashed;
  border-right: 0.5px dashed;
      background-color: #ffffff;  /* 为容器设置浅灰色背景 */
}

.coffee-card .pattern img {
  height: 45%;
  width: auto;  /* 宽度自适应保持比例 */
  max-width: 100%;  /* 限制最大宽度 */
  margin: 1rem 0 1rem 0;  /* 根据需要调整 */
    background-color: #ffffff;  /* 设置背景色为浅灰色 */
  object-fit: contain;  /* 保证图片完整显示不裁剪，居中显示 */
  object-position: center center;
  display: block;  /* 确保图片块级显示 */
      box-shadow: 0px 4px 16px 4px rgba(0, 0, 0, 0.2);  /* 添加阴影边框 */

}

.side-title {
  display: inline-block;
  margin-bottom: 0.75rem;
  border-bottom: 0.5px dashed;
  padding: 0 0.8rem 0.75rem;
}

.arxiv {
    grid-column: 1; /* 确保线横跨所有列 */
    grid-row: 1;
    font-size: 2rem;
    padding: 0rem 1rem 0rem 2rem;

    align-items: center;
    justify-content: center;

}
   .logo {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    font-size: 2rem;
    padding: 0rem 1rem 0rem 2rem;

    align-items: center;
    justify-content: center;

}
.info{
  border-bottom: 0.5px dashed;
}

.info,
.location,
.footnote,
.pattern,
.solid-line {
  border-right: 0.5px dashed;
}


.info,
.date  {

  border-top: 0.5px dashed;
}
.strip {
  grid-column: 1/3;
  grid-row: 1;
}

.square {
  background: black;
    height: 5.5rem;
    width: 5.5rem;

}
.square.one {
  grid-row: 1;
  grid-column: 3;

}
.square.two {
  grid-row: 7;
  grid-column: 3;
}
  .side-title::before {
    content: '\25A0'; /* 使用CSS伪元素添加黑色方块 */
    display: inline-block; /* 让黑方块和文本在同一行 */
    margin-right: 5px; /* 在方块和文本之间添加一些空间 */
    color: black; /* 设置方块颜色 */
  }
       .oa {
    display: inline-block;
  }
    .oa::before {
    content: '\25A0'; /* 使用CSS伪元素添加黑色方块 */
    display: inline-block; /* 让黑方块和文本在同一行 */
    margin-right: 1rem; /* 在方块和文本之间添加一些空间 */
    color: black; /* 设置方块颜色 */
    font-size: 3.5rem;
  }

    .info {
        padding: 1rem 2rem 0.5rem 3rem;
    font-size: clamp(1.2rem, 2.2vw, 2rem) !important;
    }
.oa {padding: 0.0rem 0.0rem 0.0rem 3rem;}


.location {
    padding: 2rem 2rem 2rem 3rem !important;
    font-size: clamp(1.5rem, 3.2vw, 2rem) !important;
    font-weight: 600;
    }

body {
    transform: scale(2);
    transform-origin: top left;

}